body {
  font-family: 'Times New Roman', Times, serif;
  padding: 0 2%;
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8; /* Couleur plus douce */
  position: sticky;
  top: 0;
  transition: background-color 0.3s ease; /* Transition de couleur */
}

nav a {
  text-decoration: none;
  color: #333; /* Couleur du texte plus foncée */
}

nav .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

nav .profile h1 {
  margin-left: 10px;
  font-size: 15px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 20px;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  transition: border-bottom-color 0.3s ease; /* Transition de couleur */
}

nav ul li:hover {
  border-bottom-color: #000;
}

.page-content {
  margin: 4%;
}

.page-content header {
  margin-top: 5%;
  max-width: 80%;
}

.page-content header h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 6vw;
  color: #333; /* Couleur du texte plus foncée */
  transition: color 0.3s ease; /* Transition de couleur */
}

.page-content header p {
  line-height: 30px;
  color: #818181;
}

.page-content header button {
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.page-content header button:hover {
  color: #ccc;
  border-bottom-color: #000;
}

.page-content .projects-section {
  margin-top: 6%;
}

.page-content .projects-section h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 3vw;
}

.page-content .projects-section .projects {
  display: flex;
  flex-wrap: wrap;
}

.page-content .projects-section .project {
  margin-right: 20px;
  max-width: 195px;
}

.page-content .projects-section .project h4 {
  margin: 0;
}

.page-content .projects-section .project .description {
  font-size: 10px;
}

.page-content .projects-section .project .dates {
  font-size: 13px;
  color: rgb(145, 145, 145);
}

footer {
  margin-top: 2%; /* Réduction de la marge supérieure */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: #333; /* Couleur de fond plus sombre */
  color: white;
}

footer .colonne p {
  font-size: 12px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease; /* Transition de couleur */
}

footer .colonne p:hover {
  color: #fff;
}
